@media only screen and (max-width: 992px) {
    .hide {
        display:none;
    }
        body {
        background-color:blue;
    }
    .navbar{
        display:flex;
        justify-content:center;
        padding: 10px 0px;
    }
    .hamburger {
        display:none;
    }
    h1 {
        font-size: 45px;
        padding: 25px 20px 0px 20px;
    }
    h4 {
        margin: 0px 20px;
    }
    p {
        margin-left:10px;
    }
}
